body {
	width: 100%;
	height: 100%;
	line-height: 1.6em;
}

* {
	box-sizing: border-box;
}

.menu-container {
	padding: 1em;
	background-color: #e4cf36;
	display: inline-block;
	margin-top: 40px;
}

.primary-menu {
	position: relative;
	overflow: hidden;
}

.primary-menu li {
	float: left;
}

.primary-menu li a {
	display: block;
	padding: 0 1em;
	text-decoration: none;
}

.login-form-container {
	padding: 1em;
	width: 100%;
	text-align: right;
}
.login-form-container.responsive {
	display: none;
}

.login-form-container label {
	vertical-align: bottom;
	padding: .8em .5em 0 .5em;
}

.login-form-container input {
	padding: .5em .75em;
}

.login-form-container input[type='submit'] {
	padding: .5em .75em;
	background-color: #e4cf36;
}