body {
	width: 100%;
	height: 100%;
	line-height: 1.6em;
}

* {
	box-sizing: border-box;
}

.menu-container {
	padding: 1em;
	background-color: #eeefd3;
	display: inline-block;
}

.primary-menu {
	position: relative;
	overflow: hidden;
}

.primary-menu li {
	float: left;
}

.primary-menu li a {
	display: block;
	padding: 0 1em;
	text-decoration: none;
}